/* .THIS.cuf-content {
	padding: 0 !important;
}

.THIS.slds-p-around--large {
    padding: 0 !important;
}      

.THIS.slds-modal__content {
	overflow-y:hidden !important;
	height:unset !important;
	max-height:unset !important;
} */

.THIS .button-right {
	float: right;
	margin: 0 10px 0 0;
}

.THIS .footer {
	margin: 10px 0 0 0 ;
}